<?xml version="1.0" encoding="UTF-8" ?>
<!-- mapper DTD 선언 -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- SQL Mapping -->
<mapper namespace="tales.akiba.seldesian.dao.UserMapper">		

	
	<!-- 회원가입 --> 
	<insert id="insertUser" parameterType="tales.akiba.seldesian.entity.User">  
       INSERT INTO TBL_USERS  (
		    EMAIL,
		    USER_NICKNAME,
		    USER_PASSWORD,
		    USER_COMENT
		) VALUES (
		    #{email},
		    #{user_nickname},
		    #{user_password},
		    #{user_coment}
		)         
   </insert>
   
   <!-- 회원목록조회 -->
   <select id="getUserList" resultType="tales.akiba.seldesian.entity.User">
      SELECT  
        EMAIL,
        USER_NICKNAME,
        DATE_FORMAT(USER_INDATE, '%Y-%m-%d') AS USER_INDATE
	  FROM  TBL_USERS 
	  ORDER BY USER_INDATE
   </select>
   
 
   <!-- 회원수정 -->
   <update id="updateUser" parameterType="tales.akiba.seldesian.entity.User">
   	   UPDATE  TBL_USERS
   	     SET   
           USER_NICKNAME = #{user_nickname},
           USER_PASSWORD = #{user_password},
   	       USER_COMENT = #{user_coment},
           USER_EDITDATE = NOW()     
   	    WHERE  EMAIL = #{email}
   </update>
   
   <!-- 회원삭제 -->
   <update id="deleteUser" parameterType="tales.akiba.seldesian.entity.User">
   	   UPDATE  TBL_USERS
   	     SET   
           USER_STATEMENT = 2,
           USER_DEDATE = NOW()
        WHERE  EMAIL = #{email} 
   </update>
   
</mapper>
