<?xml version="1.0" encoding="UTF-8" ?>
<!-- mapper DTD 선언 -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- SQL Mapping -->
<mapper namespace="tales.akiba.seldesian.dao.UserMapper">		

	
	<!-- 회원가입 -->
	 <insert id="insertUser" parameterType="tales.akiba.seldesian.entity.User">  
       INSERT INTO TBL_USERS  (
		    EMAIL,
		    USER_NICKNAME,
		    USER_PASSWORD,
		    USER_COMENT
		) VALUES (
		    #{ email     },
		    #{ user_nickname  },
		    #{ user_password  },
		    #{ user_coment  }
		)         
   </insert>
   
   <!-- 회원목록조회 -->
   <select id="getUserList"
           resultType="tales.akiba.seldesian.entity.User">
      SELECT  
        EMAIL,
        USER_NICKMAME,
        TO_CHAR(INDATE, 'YYYY-MM-DD') USER_INDATE
	  FROM  TBL_USERS 
	  ORDER BY USER_INDATE
   </select>
   
   <!-- 회원개인조회 -->
   <select id="getUser"
           resultType="tales.akiba.seldesian.entity.User">
      SELECT  
        EMAIL,
        USER_NICKMAME,
        USER_COMENT,
        TO_CHAR(INDATE, 'YYYY-MM-DD') USER_INDATE,
        TO_CHAR(INDATE, 'YYYY-MM-DD') USER_EDITDATE
	  FROM  TBL_USERS 
      WHERE  EMAIL = #{ EMAIL }
   </select>
   
   <!-- 회원삭제 -->
   <delete id="deleteUser">
      
   	   UPDATE  TBL_USER 
   	     SET   
                   USER_STATEMENT    =  2,
                   USER_EDITDATE    =  SYSDATE
        WHERE  EMAIL = #{email}
   
   </delete>
 
   <!-- 회원수정 -->
   <update id="UserUpdate" parameterType="tales.akiba.seldesian.entity.User">
   
   	   UPDATE  TBL_USER
   	     SET   
                   USER_NICKNAME    =  #{ user_nickname },
                   USER_PASSWORD    =  #{ user_password },
   	               USER_COMENT      =  #{ user_coment },
                   USER_EDITDATE    =  SYSDATE	     
   	    WHERE  EMAIL    =  #{ email } 
   
   </update>
   
</mapper>
